* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Museo-Sans", sans-serif;
  font-weight: 300;
  color: white !important;
  font-size: 18px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.tile {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 black;
  margin: 5px; }

.navbar-default {
  background-color: white;
  border-color: #e7e7e7;
  box-shadow: 0 0 3px black; }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: none;
  border-radius: 0 !important; }

.navbar-toggle {
  border-radius: 2px; }

.container-fluid {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0; }

.navbar-default .navbar-brand {
  opacity: .7; }

.navbar-brand {
  padding: 0;
  overflow: hidden; }

.navbar-brand > img {
  display: block;
  height: 155%;
  margin: -10% 0 0 0; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #e7e7e7; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
  transition: all .25s ease; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: #0d1868; }

@media screen and (max-width: 767px) {
  .carousel {
    display: none; } }

.carousel-caption {
  text-shadow: 0 0 6px #000, 0 0 3px #000; }

.ribbon {
  max-width: 1020px;
  margin: 0 auto; }

.main-vid {
  background-color: #104b53; }
  .main-vid .section-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1; }
    @media screen and (max-width: 991px) {
      .main-vid .section-container {
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap; } }
    .main-vid .section-container .video-wrapper {
      position: relative;
      -webkit-box-flex: 1 50%;
      -moz-box-flex: 1 50%;
      -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
      flex: 1 50%;
      width: 50%;
      height: auto;
      background-color: #000; }
      @media screen and (max-width: 991px) {
        .main-vid .section-container .video-wrapper {
          -webkit-box-flex: 1 100%;
          -moz-box-flex: 1 100%;
          -webkit-flex: 1 100%;
          -ms-flex: 1 100%;
          flex: 1 100%; } }
      @media screen and (max-width: 767px) {
        .main-vid .section-container .video-wrapper {
          display: none; } }
      .main-vid .section-container .video-wrapper .title-movie {
        position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        width: 100%;
        height: auto;
        background-color: #000; }
        @media screen and (max-width: 991px) {
          .main-vid .section-container .video-wrapper .title-movie {
            width: 50%;
            margin: 0 auto; } }
      .main-vid .section-container .video-wrapper .movie-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%; }
        .main-vid .section-container .video-wrapper .movie-hover:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          box-shadow: inset 0 0 100px 50px black; }
        .main-vid .section-container .video-wrapper .movie-hover:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          background: url("../img/vid-overlay.jpg");
          opacity: .2; }
        @media screen and (max-width: 991px) {
          .main-vid .section-container .video-wrapper .movie-hover {
            width: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
            .main-vid .section-container .video-wrapper .movie-hover:after {
              box-shadow: inset 0 0 100px 25px black; } }
    .main-vid .section-container .main-text {
      -webkit-box-flex: 1 50%;
      -moz-box-flex: 1 50%;
      -webkit-flex: 1 50%;
      -ms-flex: 1 50%;
      flex: 1 50%;
      background-color: #104b53;
      padding: 20px;
      text-align: right; }
      @media screen and (max-width: 991px) {
        .main-vid .section-container .main-text {
          -webkit-box-flex: 1 100%;
          -moz-box-flex: 1 100%;
          -webkit-flex: 1 100%;
          -ms-flex: 1 100%;
          flex: 1 100%; } }

/*# sourceMappingURL=style.css.map */
